---
fields:
  password:
    validation:
      confirmation: true
      presence:
        message: Password is required
  password_confirmation:
    validation:
      presence:
        message: Password should match
    property_options:
      virtual: true
flash_alert: Error-UserPassword
flash_notice: Success-UserPassword
name: modules/dashboard/change_password
redirect_to: "/sign-out"
resource: User
resource_owner: anyone
---
{%- form 
    html-id: "user-password-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}

    <div class="insites-form-grid seedling-form-container seedling-form-container-profile">
        <div class="form-group" active>

      <div class="column-1">
        <ins-input validate
          id="password"
          label="New Password"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
          {% if errmatch %}
          error-message="Password doesn't match" 
          {% else %}
          error-message="Invalid password" 
          {% endif %}
          placeholder="New password">
        </ins-input>
      </div>



      <div class="column-1">
        <ins-input validate
            id="password_confirmation"
            label="Password Confirmation"
            field="password"
            name="{{ form.fields.password_confirmation.name }}" 
            value="{{ form.fields.password_confirmation.value }}" 
            {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
            {% if errmatch %}
            error-message="Password doesn't match" 
            {% else %}
            error-message="Invalid password" 
            {% endif %}
            placeholder="Confirm new password">
        </ins-input>    
      </div>


      <div class="column-1 profile-buttons">
          <ins-button id="save-password-btn" label="Update Password" icon="icon-key" solid  type="submit" ></ins-button>
      </div>



    </div>
</div>      

{%- endform -%}