---
async_callback_actions:
  delay: '0'
  content: "{% comment %} Verification Token {% endcomment %} {%  liquid\n    graphql
    temporary_token = 'modules/dashboard/account/generate_user_temporary_token', email:
    form.email \n%}\n{% comment %} Create Event Stream {% endcomment %} {% parse_json
    info %} {\n  \"description\": \"New Registration\",\n  \"log\": {\n    \"first_name\":
    \"{{ form.first_name }}\",\n    \"last_name\": \"{{ form.last_name }}\",\n    \"email\":
    \"{{ form.email }}\"\n  }\n} {% endparse_json %} {% include 'modules/dashboard/events/log_event',
    info %}\n"
  max_attempts: 2
  priority: high
fields:
  email:
    validation:
      unique:
        message: Email already exist
      presence:
        message: Please use a valid email address
      email:
        message: Please use a valid email address
  password:
    validation:
      presence:
        message: Invalid Password
  first_name:
    validation:
      presence:
        message: First name is required
  last_name:
    validation:
      presence:
        message: Last name is required
flash_alert: Sorry-Signup
flash_notice: Congratulations-Signup
name: modules/dashboard/register
redirect_to: account-created
resource: User
resource_owner: anyone
---
{%- form 
    html-id: "register-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return Session.events.signUpHandler(event, 'personal-details-container');" -%}

  <div class="insites-form-grid">

  {% include 'modules/dashboard/account/registration_personal_details' %}

  </div>

{%- endform -%}