---
slug: /
layout: modules/website/default
searchable: true
max_deep_level: 1
authorization_policies:
metadata: {
    status: "published",
    page_name: "Home",
    meta_title: "Insites | Seedling",
    page_title: "Insites | Seedling",
    sitemap_order: "1",
    last_updated_by: "Marc Aldrin Dela Cruz",
    sitemap_enabled: "true",
    meta_description: "Insites | Seedling",
    open_graph:title: "Insites | Seedling",
    sitemap_priority: "1.0",
    sitemap_changefreq: "monthly",
    open_graph:description: "Insites | Seedling",
    is_visible_to_search_engines: "true",
}
--- 

<div class="home-wrapper">
    <div class="spacer section"></div>
  testtest
        {% include 'modules/website/content/home/home_content' %} 
    <div class="spacer section"></div>
</div>

{%- if context.environment == "staging" -%}
    <link rel="preload" as="script" href="{{ 'modules/website/scripts/app.js' | asset_url }}" >
    <script src="{{ 'modules/website/scripts/app.js' | asset_url }}"></script>
{% else %}
    <!-- minified --> 
    <link rel="preload" as="script" href="{{ 'modules/website/scripts/app.min.js' | asset_url }}" >
    <script src="{{ 'modules/website/scripts/app.min.js' | asset_url }}"></script>
{%- endif -%}