---
layout: modules/website/default
max_deep_level: 1
metadata:
  status: published
  page_name: Home
  meta_title: Insites | Seedling
  page_title: Insites | Seedling
  canonical_url: ''
  sitemap_order: '1'
  open_graph:url: ''
  open_graph:type: ''
  sitemap_enabled: true
  meta_description: Insites | Seedling
  open_graph:image: ''
  open_graph:title: Insites | Seedling
  sitemap_priority: '1.0'
  sitemap_changefreq: monthly
  open_graph:site_name: ''
  open_graph:description: Insites | Seedling
  is_visible_to_search_engines: true
searchable: true
---
<div class="home-wrapper">
    <div class="spacer section"></div>
        {% include 'modules/website/content/home/home_content' %} 
    <div class="spacer section"></div>
</div>

{%- if context.environment == "staging" -%}
    <link rel="preload" as="script" href="{{ 'modules/website/scripts/app.js' | asset_url }}" >
    <script src="{{ 'modules/website/scripts/app.js' | asset_url }}"></script>
{% else %}
    <!-- minified --> 
    <link rel="preload" as="script" href="{{ 'modules/website/scripts/app.min.js' | asset_url }}" >
    <script src="{{ 'modules/website/scripts/app.min.js' | asset_url }}"></script>
{%- endif -%}