---
metadata:
  layout_name: Dashboard - Default
---
{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{% comment %} ? Enable Fragment cache after Installation {% endcomment %}
{% comment %} {%- include "modules/website/cache/layout_fragment_cache_key" -%} {% endcomment %}

{% comment %} Layout for pages without form {% endcomment %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/technical_head' %}
</head>
<body class="flex-container flex-dir-column body-height-100">
    <div class="main-wrap">
        {% include 'modules/website/layout/header' %} 
        {% include 'modules/website/layout/header_mobile' %}
        <div class="wrapper client-portal">
            <div class="grid-container">
                <div class="grid-x gutter-medium grid-padding-x">
                    <div class="large-12 medium-12 small-12 cell bg-color-ui-01 main-content">
                        {{ content_for_layout }}
                    </div>
                </div>
            </div>
        </div>                    
    </div>

    {% if context.params.slug == 'dashboard' %}
        {% assign stickyFooter = true %}
    {% endif %}

    {% include 'modules/website/layout/footer' stickyFooter: stickyFooter%}

</body>
</html>