---
metadata:
  layout_name: Dashboard - System Pages
---
{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{% comment %} ? Enable Fragment cache after Installation {% endcomment %}
{% comment %} {%- include "modules/website/cache/layout_fragment_cache_key" -%} {% endcomment %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/technical_head' %}
    
  <link rel="stylesheet" href="{{ 'modules/dashboard/styles/dashboard.min.css' | asset_url }}" >
  <script type="module" src="https://components.insites.io/v2/latest/insites.esm.js"></script>
  <script nomodule src="https://components.insites.io/v2/latest/insites.js"></script>
  {%- include 'modules/dashboard/insites_forms/insites_form_scripts' -%}

</head>
<body class="system-page flex-container flex-dir-column">
    {% include 'modules/website/layout/header' %} 
    {% include 'modules/website/layout/header_mobile' %}

  <div class="wrapper">
    <div class="system-content grid-container">
      {{ content_for_layout }}
    </div>
  </div>
    {% include 'modules/website/layout/footer' %}
    
</body>
</html>